body {
    color:black;

}
*{
    // border: 1px solid red;
    font-family: 'Courier New', Courier, monospace;
}
td {
    padding:5px;
    border: 1px solid gray;
    font-size: 14px;
}
tr{
    background-color: white;
}
.btn {
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: gray;
    padding: 2px 5px;
}