body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:red;
  background:maroon;
}

*{
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background: maroon;
  border: 2px solid red;
  border-radius: 5px;
  width: 70px;
  height:40px;
  color: white;
  font-size: 30px;
}